html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
}

.food-form {
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.food-form h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

.food-form h1 span {
    color: #fc0050;
}

.food-form {
    font-size: 1em;
}

.food-form form input {
    color: white;
    padding: 15px;
    background-color: #191919;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.food-form form .submitbtn {
    background-color: #fc0050;
    font-size: 1.1em;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 50px;
    width: 200px;
    cursor: pointer;
    transition: ease 0.30s;
}

.food-form form .submitbtn:hover {
    border: 2px solid #fc0050;
    background-color: transparent;
    transform: scale(1.1);
}

.menu {
    text-align: left;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.menu h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.menu-item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

.menu-item-text {
    font-size: 1em;
}
